@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

body {
  padding: 0;
  margin: 0;
  font: 10px $font;
  background: $white;
  color: $grey-100;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: $regular;
}

h1 {
  font-size: 20px;
}

a {
  cursor: pointer;
  color: $blue-100;

  &:hover {
    color: $blue-150;
  }
}

$screen-sm: 800px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 220px;
  -webkit-font-smoothing: antialiased;
}

.btn {
  font-weight: 50;
  border-radius: 1px;
  outline: 0 !important;
}

.btn-remove {
  position:absolute;
  top: 6px;
  right:6px;
  border-radius: 100%;
  padding:3px;
  width: 12px;
  height: 12px;
  font-size: 5px;
}

.navbar-default .navbar-brand {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 700;
}

.thumbnail_full {
  background-color: #fff;
  padding: 0;
  border-color: #dee5e7;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  font-size: 10px;
}

.caption {
  margin: 5px;
}

.thumbnail_full img {
  width: 100%;
  padding: 6px;
  border-radius: 15px 15px 15px 15px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  overflow:hidden;

  &:hover {
    background-color: $btn-info-bg;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.thumbnail {
  background-color: #fff;
  padding: 0;
  border-color: #dee5e7;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  width: 150px;
  height: 200px;
}

.thumbnail img {
  width: 100%;
  padding: 6px;
  border-radius: 15px 15px 15px 15px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  overflow: hidden;

  &:hover {
    background-color: $btn-info-bg;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}
