// font
$font: Roboto, sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// colors
$white: #fff;
$black: #000;
$grey-100: #42474E;
$grey-60: #898C91;
$grey-40: #BABEC3;
$grey-20: #E1E2E3;
$grey-10: #F5F6F6;

$orange-100: #FF5722;
$orange-80: #FF7A50;

$blue-150: #4C829D;
$blue-100: #4FC3F7;

$body-bg: #211922;
$text-color: #58666f;
$link-color: #363f34;
$link-hover-color: #141718;

$navbar-default-bg: #fff;
$navbar-default-link-color: #353f44;
$navbar-default-link-hover-bg: #f6f7f7;
$navbar-default-link-active-bg: #f6f7f7;

$btn-default-color: #58666e;
$btn-default-border: #dee5e7;

$btn-info-color: #fff;
$btn-info-bg: #23b7f5;
$btn-info-border: #23b7f5;
